@import './variables';

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1330px;
  width: 100%;
}

.btn {
  padding: 8px 15px;
  font-size: $font-sm + 2;
  color: $color-white;
  background-color: $color-red;
  border: none;
  transition: background-color $trans-sm;

  &:hover {
    background-color: darken($color-red, 10);
  }

  @media (min-width: $md) {
    padding: 5px 10px;
    font-size: $font-md;
  }
}