// Sizes
$sm: 450px;
$md: 768px;
$lg: 1100px;

// Colors
$color-red: #e3350d;
$color-orange: #ee6b2f;
$color-yellow: #e6bc2f;
$color-green: #4dad5b;
$color-lightblue: #7CCEFD;
$color-blue: #1b53ba;
$color-grey: #303030;
$color-lightgrey: #d9d9d9;
$color-darkgrey: #232323;
$color-white: #fff;
$color-black: #000;

// Fonts
$font: sans-serif;
$font-sm: 12px;
$font-md: 16px;
$font-lg: 24px;

// Transition
$trans-sm: 0.2s;
$trans-md: 0.3s;
$trans-lg: 0.5s;