// Sizes
$sm: 450px;
$md: 768px;
$lg: 1100px;

// Colors
$color-red: #e3350d;
$color-orange: #ee6b2f;
$color-yellow: #e6bc2f;
$color-green: #4dad5b;
$color-pink: #eb859a;
$color-lightblue: #7CCEFD;
$color-blue: #1b53ba;
$color-purple: #81007f;
$color-grey: #303030;
$color-brown: #996948;
$color-lightgrey: #d9d9d9;
$color-silver: #a5a5a5;
$color-darkgrey: #232323;
$color-white: #fff;
$color-black: #000;

// Fonts
$font: sans-serif;
$font-sm: 12px;
$font-md: 16px;
$font-lg: 24px;
$font-xlg: 74px;

// Transition
$trans-md: 0.3s;
$trans-lg: 0.5s;

// Bg image
$bg-main-image: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='77' height='77' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23d9d9d9' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E";
$bg-main-image-dark: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='77' height='77' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.2' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E";