@import '../../../assets/scss/variables';

.Hero {
  min-height: 100vh;
  background-color: $color-lightblue;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .HeroWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .HeroLogo {
    margin-bottom: 50px;
    padding: 0 15px;
    padding-top: 30px ;
    height: 110px;
    text-align: center;

    @media (min-width: $sm) {
      height: 180px;
     }

    @media (min-width: $md) {
     height: 210px;
    }
  }
}