@import '../../assets/scss/variables';

.Page404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 192px);
  text-align: center;

  > h1 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: $font-lg;
    font-weight: 700;
    letter-spacing: 2px;
    color: $color-black;
    transition: color $trans-md;

    @media (min-width: $sm) {
      padding-top: 0;
      font-size: $font-xlg;
    }
  }

  > h3 {
    margin: 0;
    padding-bottom: 25px;
    font-size: $font-md;
    font-weight: 700;
    color: $color-black;
    transition: color $trans-md;

    @media (min-width: $sm) {
      font-size: $font-lg;
    }
  }

  > img {
    padding: 20px;
    max-height: 280px;
    pointer-events: none;

    @media (min-width: $sm) {
      max-height: 500px;
    }
  }
}

:global(.moon) {

  .Page404 {
    
    > h1, 
    > h3 {
      color: $color-white;
    }
  }
}