@import '../../assets/scss/variables';

.Types {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px 20px;

  .Type {
    
    .TypeImage {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      transition: transform $trans-md;

      @media (min-width: $sm) {
        width: 200px;
        height: 200px;
      }
    }

    > span {
      display: block;
      padding-top: 15px;
      color: $color-black;
      font-size: $font-lg - 4;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: color $trans-md;
    }

    &:hover {

      .TypeImage {
        transform: rotateY(180deg);
      }

      > span {
        color: $color-red;
      }
    }
  }

  @media (min-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

:global(.moon) {

  .Types .Type > span {
    color: $color-white;
  }
}