@import '../../../assets/scss/variables';

.PokemonImages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;

  .ImageItem {
    margin: 0 10px;

    > img {
      display: block;
      margin-bottom: 5px;
      max-width: 96px;
      max-height: 96px;
      pointer-events: none;
    }

    > p {
      margin: 0;
      font-weight: 600;
      text-align: center;
      cursor: default;

      &.PokemonMale {
        color: $color-blue;
      }

      &.PokemonFemale {
        color: $color-pink;
      }
    }
  }
}