@import '../../assets/scss/variables';

.Pokemon {
  min-height: 86vh;

  .PokemonCard {
    margin: 25px auto;
    padding: 25px;
    max-width: 600px;
    background-color: $color-white;
    box-shadow: 2px 2px 2px lighten($color-grey, 60);
  }
}