@import '../../assets/scss/variables';

.Pokemon {
  min-height: calc(100vh - 218px);

  .PokemonCard {
    position: relative;
    margin: 25px auto;
    padding: 25px;
    max-width: 600px;
    background-color: $color-white;
    box-shadow: 0px 0px 5px lighten($color-grey, 60);
  }
}