@import './assets/scss/variables';
@import './assets/scss/globalClasses';

body {
  margin: 0;
  background-image: url($bg-main-image);

  * {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  img {
    max-width: 100%;
  }

  .sprite-type {
    background-size: 650%;
    background-repeat: no-repeat;

    &.sprite-type-bug {
      background-position: 0 0;
    }
    
    &.sprite-type-dark {
      background-position: 20% 0;
    }
    
    &.sprite-type-dragon {
      background-position: 40% 0;
    }
    
    &.sprite-type-electric {
      background-position: 60% 0;
    }
    
    &.sprite-type-fairy {
      background-position: 80% 0;
    }
    
    &.sprite-type-fighting {
      background-position: 100% 0;
    }
    
    &.sprite-type-fire {
      background-position: 0 33%;
    }
    
    &.sprite-type-flying {
      background-position: 20% 33%;
    }
    
    &.sprite-type-ghost {
      background-position: 40% 33%;
    }
    
    &.sprite-type-grass {
      background-position: 60% 33%;
    }
  
    &.sprite-type-ground {
      background-position: 80% 33%;
    }
    
    &.sprite-type-ice {
      background-position: 100% 33%;
    }
    
    &.sprite-type-normal {
      background-position: 0 65.5%;
    }
  
    &.sprite-type-poison {
      background-position: 20% 65.5%;
    }
  
    &.sprite-type-psychic {
      background-position: 40% 65.5%;
    }
    
    &.sprite-type-rock {
      background-position: 60% 65.5%;
    }
    
    &.sprite-type-steel {
      background-position: 80% 65.5%;
    }
    
    &.sprite-type-water {
      background-position: 100% 65.5%;
    }
  
    &.sprite-type-shadow {
      background-position: 0 100%;
    }
  
    &.sprite-type-unknown {
      background-position: 20% 100%;
    }
  }

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $color-white;
}

::-webkit-scrollbar-thumb {
  background-color: $color-grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: $color-red;
}
