@import './assets/scss/variables';
@import './assets/scss/globalClasses';

body {
  margin: 0;
  background-image: url($bg-main-image);
  background-color: $color-white;
  transition: background-color $trans-md;

  * {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  img {
    max-width: 100%;
  }

  &.moon {
    background-image: url($bg-main-image-dark);
    background-color: $color-darkgrey;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $color-white;
}

::-webkit-scrollbar-thumb {
  background-color: $color-grey;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $color-red;
}

.moon::-webkit-scrollbar-track {
  background-color: $color-lightgrey;
}

.moon::-webkit-scrollbar-thumb {
  background-color: $color-black;
}

.moon::-webkit-scrollbar-thumb:hover {
  background-color: $color-red;
}