@import '../../assets/scss/variables';
@import '../../assets/scss/animations';

header {
  
  .FloatingHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 50px;
    width: 100%;
    height: 100%;
    background-color: $color-grey;
    transform: translateX(-100%);
    transition: transform $trans-md, background-color $trans-md;
    z-index: 905;

    .Bottom {

      > * {
        margin-bottom: 10px;
      }

      .SavedPokemons {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform $trans-md;

        > svg {
          width: 75%;
          height: 75%;
          fill: $color-white;
          transition: fill $trans-md;
        }

        &:hover > svg,
        &.Active > svg {
          fill: $color-red;
        }
      }
    }
  }

  &.Active {

    .FloatingHeader {
      transform: translateX(0);
    }
  }
}

:global(.moon) {

  header .FloatingHeader {
    background-color: $color-black;

    .Bottom .SavedPokemons {

      > svg {
        fill: $color-lightgrey;
      }

      &:hover > svg,
      &.Active > svg {
        fill: $color-red;
      }
    }
  }
}