@import '../../../assets/scss/variables';

.Hero {
  margin-bottom: 30px;
  height: 250px;
  background-position: center bottom;
  background-size: cover;

  .HeroText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-size: $font-lg * 2;
    font-weight: 700;
    letter-spacing: 3px;
    color: $color-white;
    text-align: center;
    text-shadow: 3px 3px 0 $color-grey;
    text-transform: capitalize;
    cursor: default;

    @media (min-width: $md) {
      height: 400px;
      font-size: $font-xlg;
    }
  }

  @media (min-width: $md) {
    height: 400px;
    background-size: contain;
  }
}